<!DOCTYPE html>
<html>
<head>
  <title>File Manager</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="p-4">
  <h1 class="mb-4">File Manager</h1>
  <form id="uploadForm" enctype="multipart/form-data" class="mb-3">
    <input type="file" name="file" required />
    <button class="btn btn-primary">Upload</button>
  </form>

  <ul id="fileList" class="list-group"></ul>

  <div id="fileViewer" class="mt-4" style="display:none;">
    <h5>Viewing: <span id="viewerFilename"></span></h5>
    <pre id="viewerContent" class="bg-light p-3 border rounded" style="white-space: pre-wrap;"></pre>
  </div>

  <script>
    const form = document.getElementById("uploadForm");
    const fileList = document.getElementById("fileList");

    form.addEventListener("submit", async (e) => {
      e.preventDefault();
      const formData = new FormData(form);
      await fetch("/upload", { method: "POST", body: formData });
      form.reset();
      loadFiles();
    });

    async function loadFiles() {
      const res = await fetch("/files");
      const files = await res.json();
      fileList.innerHTML = "";
      files.forEach(file => {
        const item = document.createElement("li");
        item.className = "list-group-item d-flex justify-content-between align-items-center";
        if (file.name.includes('.txt')){
          item.innerHTML = `
          ${file.name}
          <span>
            <a href="/download/${file.id}" class="btn btn-sm btn-success">Download</a>
            <button onclick="deleteFile(${file.id})" class="btn btn-sm btn-danger">Delete</button>
            <button class="btn btn-sm btn-secondary me-2" onclick="viewFile(${file.id})">View</button>
          </span>
          `;
          fileList.appendChild(item);
        }else{
          item.innerHTML = `
          ${file.name}
          <span>
            <a href="/download/${file.id}" class="btn btn-sm btn-success">Download</a>
            <button onclick="deleteFile(${file.id})" class="btn btn-sm btn-danger">Delete</button>
          </span>
          `;
        fileList.appendChild(item);
        }
      });
    }

    async function deleteFile(id) {
      await fetch(`/delete/${id}`, { method: "DELETE" });
      loadFiles();
    }

    async function viewFile(id) {
      const res = await fetch(`/view/${id}`);
      const data = await res.json();

      if (data.error) {
        alert(data.error);
      return;
      }

      document.getElementById("viewerFilename").textContent = data.filename;
      document.getElementById("viewerContent").textContent = data.content;
      document.getElementById("fileViewer").style.display = "block";
    } 

    loadFiles();
  </script>
</body>
</html>
